firebase_apiKey=YOUR_KEY_HERE
firebase_authDomain= YOUR_KEY_HERE
firebase_projectId= YOUR_KEY_HERE
firebase_storageBucket= YOUR_KEY_HERE
firebase_messagingSenderId= YOUR_KEY_HERE
firebase_appId= YOUR_KEY_HERE
firebase_credential =YOUR_KEY_HERE
GEMINI_API_KEY=YOUR_KEY_HERE
